main{
  padding: 3rem 0;
  border: 1px solid var(--border-color);
  /* background-image: repeating-linear-gradient(315deg, var(--pattern-fg) 0, var(--pattern-fg) 1px, transparent 0, transparent 50%); */

}

nav{
    border-bottom: 1px solid var(--border-color);
}

section{
  margin-bottom: 2rem;
}