.heroBanner {
  padding: 1rem 2rem;
  display: block;
}

.container{
  border-radius: 20px;
  border: var(--ifm-color-primary-darker) 1px solid ;
  background-color: var(--ifm-color-primary-lighter);
}

.firstCol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.firstCol p{
  color: var(--text-muted);
}

.button {
  background-color: var(--ifm-color-primary-darker);
  border-radius: 20px;
  font-weight: normal;
  width: 60%;
  height: 40px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}



.buttonCustom{
  border: 1px solid #f8f8f8 !important;
  color: #f8f8f8;
}