.container{
    background: url("/static/img/stunning-landscape-spring-festival-japan.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    height: 500px;
    display: flex;
    align-items: center;
}

.countdown{
    background-color: transparent;
}

.container h2{
   font-weight: 500;
    font-size: xx-large;
}

.container h3{
    background-color: transparent;
    font-weight: normal;
    font-size: x-large;
}

.number{
    font-size: xx-large;
    font-weight: bold;
}


.countdownClock{
    background-color: rgba(255,255,255,.1);
    border-radius: 16px;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 16px;
}

