.container{
    border: #131312 1px solid ;
    border-radius: 4px;
    padding: 8px;
}

.jlptBanner{
    background: url("/static/img/about_JLPT.jpg") no-repeat;
    background-size: contain;
}

.countdown{
    background: url("/static/img/sakura-branch.png") no-repeat right;
    display: flex;
    height: 300px;
    background-size: contain;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.countdownClock{
    vertical-align: text-top;
    width: inherit;
    margin-top: 24px;
}

.number{
    font-weight: bold;
    vertical-align: text-top;
    font-size: xx-large;
    display: inline-block;
    margin-top: 16px;

}


.textNumber{
    text-orientation: upright;
    writing-mode: vertical-lr;
    -webkit-text-orientation: upright;
    text-align: start;
}

/*.countdownClock :global(.col):nth-of-type(n+2) .textNumber {*/
/*    margin-left: 16px;*/
/*}*/